.recipe-edit {
    padding: 30px;
    padding-top: 10px;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    max-height: 100%;
    overflow-y: auto;
}

.remove-btn-container {
    text-align: end;
}

.remove-btn {
    padding: 0;
    background: none;
    outline: none;
    border: none;
    font-size: 1.5rem;
}

.details-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 10px;
    column-gap: 40px;
}

.edit-label {
    font-weight: bold;
}

.input {
    border: 1px solid black;
    border-radius: 5px;
    font-size: inherit;
    padding: 5px 10px;
    outline: none;
    width: 100%;
}

.ingredient-flex {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, auto);
    margin-top: 20px;
    margin-left: 40px;
}

textarea.input {
    resize: none;
    height: 200px;
}

.add-ingredient-btn-container {
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 1000px) {
    .details-grid,
    .ingredient-flex {
        grid-template-columns: 1fr;
    }
}

